/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container{
    margin: auto 20px;
    padding: 10px 30px;
    max-width: 1000px;
}

.profile-image > img {
    border: 10px solid #066348;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.profile-user-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

 .profile-user-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #171818;
 }

 .btn{
    background-color: #f6f8f8;
    border-color: #171818;
    border-width: 0.25px;
    border-radius: 4px;
 }
 .profile-edit-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 120px;
    padding: 3px 10px;
 }

 .profile-settings-btn{
    width: 30px;
    padding: 3px 5px;
 }

 .profile-stats {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    
 }
 .profile-stats ul {
    display: inline-flex;
    gap: 50px;
    list-style: none;
    font-weight: 200;
 }

 .profile-stat-count {
    font-size: 15px;
    font-weight: bold;
 }

 .profile-bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

 .profile-real-name {
    font-weight: bold;
 }

 .profile {
  display: flex;
  align-items: flex-start;
  gap: 40px; 
  flex-wrap: wrap;
}

.profile-info-right {
    display: flex;
    flex-direction: column;
}
